body{
    font-family: Arial, Helvetica, sans-serif;
}
.page-wrapper{
    border:1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 30px;
    width: 100%;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
}
.header > h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.accordion-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap:5px;
}
.question{
    border-radius: 10px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding:0 15px;
}
.answer{
    display: none;
}
.answer-active{
    border:2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding:0 13px;
}